.genNav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2ebd0;
    border-radius: 10px;
}


.top{
    width: 100%;
    height: 30%;
    background-color: #85d272;
    border-radius: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
}

.top h1{
    font-weight: 700;
    font-size: 3rem;
}
.top p{
    font-weight: 400;
    font-size: 2rem; 
}


.bottom{
    color: black;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.header p{
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: 80%;
    margin: auto;
}

.header{
    width: 90%;
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    padding: 5px;
    border-radius: 10px;
}
.menu{
    height: 40%;
}

.menu li{
 display: flex;
 align-items: center;
 margin: 10%;
 font-size: 1.5rem;
}

.img{
    height: 40%;
}
.img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

















