@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

:root{
  --introColor: #deebdd;
    --introImage: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    --buttonColor: #00b712;
    --buttonImage: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    --timerBackGroundColor: #deebdd;
    --timerBackGroundImage: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    --wholeBackground:#F5F5F5;
    --timerBackground:antiquewhite;

}


body {
   /* background-color: var(--wholeBackground); */
   width: 100vw;
   /* background-color: #f2ebd0; */
   background-color: var(--wholeBackground);
   color: var(--wholeBackground);
   font-family: 'Dongle', sans-serif;
}

li{
  list-style: none;
}
